.about__start{
  display: flex;
  align-items: center;
  gap: 12vw;
  margin-top: 100px;
}

.about__title {
  font-size: 35px;
  font-weight: 700;
}

.about-img {
  border-radius: 5%;
  width: 55vw;
  height: 80vh;
}

.about-text {
  margin: 16px;
  max-width: 500px;
}

@media(max-width: 1024px) {
  .about__start {
    flex-direction: column;
  }

  .about-img {
    width: 80vw;
    height: 60vh;
  }
}

@media(max-width: 768px) {
  .about-img {
    width: 80vw;
    height: 40vh;
  }
}