.quality {
  padding-top: 100px;
}

.quality__start {
  display: flex;
  color: #fff;
  position: relative;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  gap: 30px;
}

.quality__start:hover {
  box-shadow: 0 0 20px red; 
}


.quality__left-title {
  font-size: 90px;
  font-weight: 800;
  margin: 0 0 20px;
}

.quality__left-text {
  font-size: 20px;
}

.quality__right-title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    max-width: 500px;
}

.quality__right-text {
    font-size: 16px;
    width: 400px;
    margin-bottom: 20px;
}

.quality__right-btn {
    padding: 12px 35px;
    border-radius: 15px;
    border: none;
}

.quality__img {
  position: absolute;
  max-width: 100%;
  height: auto;
  left: 15%;
}
